{% extends 'base.html' %}

{% block content %}
    <p>12 шагов АА — программа духовного переориентирования для зависимых от алкоголя. Целью является признание своей зависимости, апеллирование к «высшей силе» для излечения, возмещение ущерба, нанесённого другим в результате зависимости и донесение целительного знания до других зависимых. В значительной степени полагается на принятие «высшей силы» или Бога, который может пониматься по-разному, но является обязательной действующей силой в выздоровлении.</p>

    <p>Используется в работе групп АА. Как правило, для эффективной проработки этапов программы необходимо наличие опытного участника (спонсора, наставника), способного разъяснить принципы каждого шага.</p>
{% endblock %}
