<li class="list-group-item">
<dl class="row">
    <dt class="col-sm-3">Ситуация</dt>
    <dd class="col-sm-9">{{ answer.situation }}</dd>
    <dt class="col-sm-3">Мысли</dt>
    <dd class="col-sm-9">{{ answer.thoughts }}</dd>
    <dt class="col-sm-3">Чувства</dt>
    <dd class="col-sm-9">
        {% for feeling in answer.feelings.all %}
        {{ feeling }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {{ answer.feelings2 }}
    </dd>
    <dt class="col-sm-3">Действия</dt>
    <dd class="col-sm-9">{{ answer.actions }}</dd>
</dl>
</li>