<li class="list-group-item">
<dl class="row">
    <dt class="col-sm-3">Ситуация</dt>
    <dd class="col-sm-9">{{ answer.situation }}</dd>
    <dt class="col-sm-3">Мысли</dt>
    <dd class="col-sm-9">{{ answer.thoughts }}</dd>
    <dt class="col-sm-3">Чувства</dt>
    <dd class="col-sm-9">
        {% for feeling in answer.feelings.all %}
        {{ feeling }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% if answer.feelings2 %}
    {{ answer.feelings2 }}
    {% endif %}
    </dd>
    <dt class="col-sm-3">Действия</dt>
    <dd class="col-sm-9">{{ answer.actions }}</dd>
</dl>
{% if answer.user == user and not answer.show_on_site %}
    <form method="get" action="/answer/{{ answer.pk }}/" style="display: inline;">
        <button type="submit" class="btn btn-primary">
            Редактировать
        </button>
    </form>
<form method="post" action="/answer/{{ answer.pk }}/delete/" style="display: inline;">{% csrf_token %}
    <button type="submit" class="btn btn-danger">
        Удалить
    </button>
</form>
{% endif %}
</li>