{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1><a class="badge badge-secondary" href="/steps/{{ question.step.program }}/">{{ question.step }}</a></h1>

<div>{{ question.number }}. {{ question.text }}</div>
<ul class="list-group">
    {% for answer in answers %}
        {% include 'guide/answer.html' with answer=answer %}
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
      {{ form|crispy }}
    <button type="submit" class="btn btn-success">
      Боже, сохрани
    </button>
</form>
{% endblock %}