{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
div.form-check{display:inline-block;}
</style>
<h1><a href="/steps/{{ question.section.step.program }}/">{{ question.section.step }}</a></h1>
<h2>{{ question.section.number }}. {{ question.section.title }}</h2>
    <h3>{{ question.number }}. {{ question.text }}</h3>
    {% if user.is_authenticated %}
    {% if answers %}
        <ul class="list-group">
            {% for answer in answers %}
                {% include 'guide/answer.html' with answer=answer %}
            {% endfor %}
        </ul>
    {% endif %}
<form method="post">
    {% csrf_token %}
      {{ form|crispy }}
    <button type="submit" class="btn btn-success">
      Сохранить
    </button>
</form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ form.media.js }}
    {% if show_close_button %}
        <form method="post" action="/question/{{ question.pk }}/close/">{% csrf_token %}
            <button type="submit" class="btn btn-danger">
                {% if is_closed %}В работу{% else %}Закрыть{% endif %}
            </button>
        </form>
    {% endif %}
    {% else %}
        <a href="/accounts/register/">Зарегестрируйтесь</a> или <a href="/accounts/login/">войдите</a>, чтобы отвечать на вопросы.
    {% endif %}
{% endblock %}