{% extends 'base.html' %}

{% block nav %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ step.sect.get_absolute_url }}">{{ step.sect }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ step.title }}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
<div>
    {{ step.text|safe }}
</div>
{% regroup object_list by section as sections %}
{% for section in sections %}
    {% include 'guide/section.html' with section=section.grouper questions=section.list %}
{% endfor %}
{% endblock %}