{% extends 'base.html' %}


{% block content %}
<h1 class="mt-2">{{ step }}</h1>
    <hr class="mt-0 mb-4">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/steps/{{ step.program }}">{{ step.get_program_display }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ step.title }}</li>
  </ol>
</nav>
<div>
    {{ step.text }}
</div>
{% regroup object_list by section as sections %}
{% for section in sections %}
{% if section.grouper.show_header %}<h2>{{ section.grouper }}</h2>{% endif %}
    <p>{{ section.grouper.text }}</p>
<ol>
{% for question in section.list %}
    <li {% if question.answer_count %}style="background-color: cadetblue;"{% endif %}>
    <a href="/question/{{ question.pk }}/">{{ question.text }}</a>
        <span style="background-color: {% if question.status == 'COMPLETED' %}blue{% endif %}{% if question.status == 'WORK' %}yellow{% endif %}">
    Примеров: {{ question.answer_count }}
        </span>
    </li>
{% endfor %}
</ol>
{% endfor %}
{% endblock %}