{% extends 'base.html' %}

{% block title %}12 шагов - {{ step.get_program_display }}{% endblock %}

{% block nav %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/steps/{{ step.program }}/">{{ step.get_program_display }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ step.title }}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div>
        {{ step.text|safe }}
    </div>
    {% for section in object_list %}
{% include 'guide/section.html' with section=section questions=section.question_set %}
    {% endfor %}
{% endblock %}
