<h2>{{ section.number }}. <a href="/section/{{ section.pk }}/">{{ section.title }}</a></h2>
<ol>
    {% for question in questions %}
        {% if question.text %}
            {% if question.pre_text %}
                </ol>
                <p>{{ question.pre_text|safe }}</p>
                <ol>
            {% endif %}
            <li>
                <a href="/question/{{ question.pk }}/">{{ question.text|safe }}</a>
                {% if question.answer_count %}
                    <span style="background-color: {% if question.status == 'COMPLETED' %}lightgreen{% endif %}{% if question.status == 'WORK' %}yellow{% endif %}">
            Примеров: {{ question.answer_count }}
        </span>
                {% endif %}
            </li>
        {% if question.post_text %}
            </ol>
            <p>{{ question.post_text|safe }}</p>
            <ol>
        {% endif %}
        {% endif %}
    {% endfor %}
</ol>
